{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} | Liste des examens
{% endblock title %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="title">Liste des examens</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Nom de l'examen</th>
                    <th>Nombre d'étudiants</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for exam in exams %}
                    <tr>
                        <td>{{ exam.name }}</td>
                        <td>{{ exam.studentCount }} étudiants</td>
                        <td><a class="btn btn-default" href="{{ path('app_display_exam',  {'examName': exam.name}) }}"><i class="fa fa-info-circle" aria-hidden="true"></i> Détails</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <button onclick="notifyMe('Elève déconnecté', 'Machin a été déconnecté du serveur')">Notify me!</button>
        </div>
    </div>
{% endblock body %}