{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} | Accès interdit
{% endblock title %}

{% block body %}
    <div class="container">
        <div class="row">
            Accès interdit
        </div>
    </div>
{% endblock body %}