/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
!src/AppBundle/Resources/public/uploads
/src/AppBundle/Resources/public/uploads/*
!src/AppBundle/Resources/public/uploads/.gitkeep
*.php~
!web/nodejs_server/node_modules
/web/nodejs_server/node_modules/*
!web/nodejs_server/node_modules/.gitkeep
!/nodejs_client/node_modules
/nodejs_client/node_modules/*
!nodejs_client/node_modules/.gitkeep
!src/AppBundle/Resources/public/uploads/test
!src/AppBundle/Resources/public/uploads/test/*
